@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-color: whitesmoke;
  /* background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg") !important; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}
