<div class="container vh-100">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Login</h3>
        <div class="d-flex justify-content-end social_icon">
          <a href="https://github.com/dgmodesto" target="_blank">
            <span><i class="fab fa-github-square"></i></span>
          </a>
          <a href="https://www.linkedin.com/in/douglasmodesto/" target="_blank">
            <span><i class="fab fa-linkedin"></i></span>
          </a>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="email"
              formControlName="email"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              name="password"
              class="form-control"
              formControlName="password"
              placeholder="senha"
              type="password"
            />
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox" />Remember Me
          </div>
          <div class="form-group">
            <input
              type="submit"
              (click)="login()"
              value="Login"
              class="btn float-right login_btn"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          <a href="#" class="links">Criar conta</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#" class="links">Esqueceu sua senha?</a>
        </div>
      </div>
    </div>
  </div>
</div>
